<h1>Dashboard</h1>

<div class="avatar"><%= image_tag(@user.avatar_url) %></div>

<h3><%= @user.name %></h3>

<h4><%= @user.login %></h4><br>

<p>Stars: <%= @user.starred(current_user.token).count %></p><br>

<p>Followers(<%= @user.followers(current_user.token).count %>):
<% @user.followers(current_user.token).each do |follower| %>
  <li><%= follower.login %></li>
<% end %></p>

<p>Following(<%= @user.following(current_user.token).count %>):
<% @user.following(current_user.token).each do |user| %>
  <li><%= user.login %></li>
<% end %></p><br>

<p>Recent Commits: <br><% @user.commits.each do |commit| %>
  <li><%= commit.message %></li>
<% end %></p>
